*.avi
*.egg-info/
*.m4a
*.mkv
*.mov
*.mp4
*.pyc
*.sw?
.DS_Store
.dockerignore
.env
.git
.idea
.mypy_cache
.requirements*
.tox
.venv
.vscode
Pipfile.lock
__pycache__
dev.env
env
pip-wheel-metadata
venv
