---
exclude: '(venv|.vscode)'  # regex
repos:
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v1.7.0
    hooks:
      - id: reorder-python-imports
  - repo: local
    hooks:
      - id: flynt
        name: flynt
        entry: flynt
        args: ['--fail-on-change', '--quiet']
        types: [python]
        language: python
        additional_dependencies: ['flynt']
  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args: ['-s', 'B101']
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 4.0.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: flake8
      - id: mixed-line-ending
        args: ['--fix=lf' ]
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.720
    hooks:
      - id: mypy
        args: ['--no-strict-optional', '--ignore-missing-imports', '--python-version', '3.7']
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
      - id: yamllint
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/danielhoherd/pre-commit-hooks
    rev: 0b84f996d085b772bcdb94279ebcddc827a2fd57
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-non-breaking-spaces
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-en-dashes
      - id: sort-gitignore
